* {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  .topnav {
    margin-top: 20px;
    padding: 25px 50px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: snow;
    .menu-img {
      img {
        width: 125px;
      }
    }
    .menu-btn {
      flex-wrap: wrap;
      display: flex;
      gap: 20px;
    }
  }
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: salmon;
    color: white;
    border-radius: 15px;
  }
}

@media screen and (max-width:600px) {
  .topnav {
    padding: 25px 25px !important;
    color: black;
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    overflow: hidden;
    background-color: snow;
    justify-content: center !important;
    flex-direction: column !important;
    gap: 25px !important;
  }
  .topnav a {
    font-size: 16px !important;
    float: left;
    display: block;
    text-align: center;
    padding: 10px 10px !important;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: salmon;
    color: white;
    border-radius: 10px;
  }

  .topnav a.active {
    background-color: salmon;
    color: white;
    border-radius: 10px;
  }

  .menu-btn {
    flex-wrap: wrap;
    display: flex;
    gap: 0 !important;
  }
}